*{
    margin: 0;
}
header{
    background-color: #1e172f;
    color: white; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px; 
    align-items: center;
}

nav ul li a{
    color: #7a7584;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.download{
    background: linear-gradient(to right, #8440d5, #1178d5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.container {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 40%;
    background-color: #2e2550;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
    padding-left: 20%;
}

.title {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;

}

.description {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 2px solid #554f70;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: auto;
}

.btndownload {
    padding: 0.75rem 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 200px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    border: 2px solid white;
    background: -webkit-linear-gradient(0.5deg, #ec87bb, #f52d92);
    -webkit-background-clip: text;
    color: transparent;
}

.btnfeatures {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 200px;
    font-size: 17px;
    border-radius: 10px;
    width: 100px;
}

.right-section {
    width: 50%;
    overflow: hidden;
    background-color: #2e2550;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.phone-mockup {
    margin-bottom: auto; 
    z-index: 1;
    margin-top: -100%;
}
.button-download{
    background-color: white;
    border-radius: 10px;
}


.container-pc{
    background-color: #f1f2f7;
}

.section-title {
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #f41486;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 2rem;
}

.pc{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.pc img {
    width: 25%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
}

.pc-text {
    max-width: 400px;
    font-size: 1.125rem;
    color: #7a7584;
    font-family: Arial, Helvetica, sans-serif;
}

.pc-text h3{
    font-size: 2rem;
    color: #c2538c;
    margin-bottom: 0.5rem;
}

.pc-text h4{
    color: #ef3394;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.pricing-section {
    padding: 50px 20px;
    margin: auto;
    text-align: center;
    background-color: #1e172f;
}

.pricing-header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.pricing-header p {
    font-size: 0.9rem;
    color: #ccc;
    max-width: 700px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    padding: 30px 20px;
    text-align: center;
}

.card-header .icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.card-header h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-header .price {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.card-header .price span {
    font-size: 0.8rem;
    color: #666;
}

.features {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.features li {
    padding: 8px 0;
    font-size: 0.95rem;
}

.card-description {
    padding: 20px;
    font-size: 0.75rem;
    color: #555;
    min-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    border: none;
    padding: 12px;
    margin: 0 20px 20px;
    border-radius: 6px;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background 0.3s ease;
}


.btn.lite {
    background: linear-gradient(to right, #eb64aa, #f41888);
}

.btn.standard {
    background-color: #3d3368;
}

.btn.ultimate {
    background-color: #3d3368;
}

.card-header.lite h2 {
    color: #ec4899;
}

footer{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h4{
    color: #606060;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

footer h4 p{
    color: #D60066;
}
